In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('neet_data.csv')

In [3]:
#QUESTION 
print("column information")
data.info()

column information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47381 entries, 0 to 47380
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           47381 non-null  object
 1   retweet_count        47381 non-null  int64
 2   source               47362 non-null  object
 3   user_id              47381 non-null  int64
 4   user_name            47380 non-null  object
 5   user_description     36510 non-null  object
 6   user_follower_count  47381 non-null  int64
 7   user_friends_count   47381 non-null  int64
 8   user_location        26247 non-null  object
 9   user_verified        47381 non-null  bool
 10  user_url             9280 non-null   object
 11  tweet                47381 non-null  object
 12  length_of_tweet      47381 non-null  int64
dtypes: bool(1), int64(5), object(7)
memory usage: 4.4+ MB

In [4]:
#QUESTION 2
print("Total number of rows and columns: ")
data.shape

Total number of rows and columns:

(47381, 13)

In [5]:
data.head()

,created_at,retweet_count,source,user_id,user_name,user_description,user_follower_count,user_friends_count,user_location,user_verified,user_url,tweet,length_of_tweet
0,2020-10-31 14:10:28,141,Twitter for Android,1250294694937915394,Rumi,NaN,14,180,NaN,False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139
1,2020-10-31 14:10:11,1,Twitter for iPhone,57059492,Tom Bewick,"Proud dad of three & cat, @SussexCCC fan. CEO ...",2314,3002,Sussex,False,https://t.co/w6QEi0PBzP,\xf0\x9f\x91\x87This is a really important iss...,140
2,2020-10-31 14:09:48,141,Twitter Web App,1016022678,Lemonade,"Wisdom is knowing the right path to take, Inte...",285,1013,"Bedfordview, South Africa",False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139
3,2020-10-31 14:09:41,141,Twitter for Android,1085818329816883201,The Rus,NaN,147,467,NaN,False,NaN,RT @Kwa_Mamkhize: I am giving away R5K to 100 ...,139
4,2020-10-31 14:09:22,0,Twitter for Android,1227501071490113537,Sakshi Yadav,it's not my attitude it's my style,2,24,NaN,False,NaN,@RomeshSabharwal @ArvindKejriwal Romesh Sabhar...,140

In [17]:
#QUESTION 3
data.sort_values(by='retweet_count' ,ascending=False,inplace=True)
data

,created_at,retweet_count,source,user_id,user_name,user_description,user_follower_count,user_friends_count,user_location,user_verified,user_url,tweet,length_of_tweet
32860,2020-11-08 05:30:01,614304,Twitter for iPhone,1024658968394625024,\xe3\x81\xb2\xe3\x81\x88\xe3\x81\xa3,\xe3\x85\xa4\xe3\x82\xa2\xe3\x82\xa4\xe3\x82\x...,62,115,NaN,False,https://t.co/cHZdP4uOdu,"RT @JoeBiden: America, I\xe2\x80\x99m honored ...",140
33262,2020-11-07 21:52:54,581097,Twitter for Android,1099388669448867842,Neet\xf0\x9f\x83\x8fPeet,\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\x...,11,141,NaN,False,NaN,"RT @KamalaHarris: We did it, @JoeBiden. https:...",63
35111,2020-11-06 14:20:33,381458,Twitter Web App,2578241503,\xe3\x81\xaf\xe3\x81\xaa\xe3\x81\x91\xe3\x81\x...,Kei|20\xe2\x86\x91|intp|eng/fil OK|SparQlew\xe...,624,527,read carrd before follow!!,False,https://t.co/XgmHbPUgAi,RT @GretaThunberg: So ridiculous. Donald must ...,140
32585,2020-11-08 07:19:02,204348,Twitter for iPhone,1103362192169189376,Parneet kaur,"\xf0\x9f\x96\x95 all negative , all positive v...",587,193,"New Jersey, USA",False,https://t.co/PXgYJf0gIA,RT @Al_Sanchino: It\xe2\x80\x99s wild Trump su...,140
38044,2020-11-04 18:19:13,192350,Twitter for iPhone,54249914,Couture_Neet,snapchat . Neetsobeautiful,547,1182,Miii Casaa,False,NaN,"RT @JoeBiden: Keep the faith, guys. We\xe2\x80...",57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47347,2020-10-30 15:48:45,0,WordPress.com,1259781444185944066,Amazon India Offers,Daily Deal Offers. Follow us to get more Savin...,91,236,NaN,False,https://t.co/NxIJNz4jQH,Objective NCERT Gear Up Biology for NEET 2021 ...,69
47348,2020-10-30 15:48:43,0,WordPress.com,376197627,Manish Salunke,Web Developer,474,1363,"Pune, India",False,NaN,Objective NCERT Gear Up Biology for NEET 2021 ...,69
47349,2020-10-30 15:48:42,0,WordPress.com,1260150415146070016,Swati Sharma \xe2\xad\x90\xe2\xad\x90\xe2\xad\...,\xf0\x9f\x87\xae\xf0\x9f\x87\xb3 INDIAN \xf0\x...,238,485,NaN,False,https://t.co/2HgX7svAne,Objective NCERT Gear Up Biology for NEET 2021 ...,69
47351,2020-10-30 15:46:53,0,Twitter Web App,1222115365880074240,Deepanjali,Speak don't shout,92,23,NaN,False,NaN,@saksham65694969 @CACSCMARajat Neet had isolat...,98
47332,2020-10-30 15:53:51,0,Twitter for Android,1146318087475437568,\xe2\x9d\x84\xef\xb8\x8f CEO of kaiba propagan...,\xef\xbe\x9f\xef\xbd\xa1\xef\xbd\xa5*.\xef\xbe...,523,370,\xe2\x98\x85 28 \xe2\x80\xa2 ca \xe2\x86\x92 a...,False,https://t.co/FnPOaifML8,@AlishizueQ LOL what's a NEET??,31

In [12]:
#QUESTION 4
data.loc[data['retweet_count']==data['retweet_count'].max()]

,created_at,retweet_count,source,user_id,user_name,user_description,user_follower_count,user_friends_count,user_location,user_verified,user_url,tweet,length_of_tweet
32860,2020-11-08 05:30:01,614304,Twitter for iPhone,1024658968394625024,\xe3\x81\xb2\xe3\x81\x88\xe3\x81\xa3,\xe3\x85\xa4\xe3\x82\xa2\xe3\x82\xa4\xe3\x82\x...,62,115,NaN,False,https://t.co/cHZdP4uOdu,"RT @JoeBiden: America, I\xe2\x80\x99m honored ...",140

In [21]:
#QUESTION 5
df=data.head(10)

In [23]:
s=df['retweet_count'].sum()
print("TOP 10 retweet sum is  ",s)

TOP 10 retweet sum is   2652225

In [24]:
data[data['source']=='Twitter for Android']

,created_at,retweet_count,source,user_id,user_name,user_description,user_follower_count,user_friends_count,user_location,user_verified,user_url,tweet,length_of_tweet
33262,2020-11-07 21:52:54,581097,Twitter for Android,1099388669448867842,Neet\xf0\x9f\x83\x8fPeet,\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\x...,11,141,NaN,False,NaN,"RT @KamalaHarris: We did it, @JoeBiden. https:...",63
16277,2020-10-25 14:14:37,137480,Twitter for Android,929320897839693824,\xeb\x8b\x88\xed\x8a\xb8,\xeb\x82\x98\xeb\xb9\x84\xeb\xb3\xb4\xeb\xb2\x...,31,67,NaN,False,NaN,RT @bbykaat: egg thief!!!!!!!!! https://t.co/X...,55
37640,2020-11-05 04:09:52,137367,Twitter for Android,991720849248894976,\xed\x9e\x9b\xed\x82\xa4\xeb\x8b\x88\xed\x8a\xb8,\xed\x97\xa4\xeb\x8d\x94 - \xec\x84\xb1\xec\x9...,62,61,\xec\x95\x84\xec\x8b\xb8\xeb\x9d\xbc\xeb\xb9\x...,False,NaN,RT @syvzwvn: RT for extreme luck https://t.co/...,56
14527,2020-10-26 13:28:21,129080,Twitter for Android,2581431452,kalats,be kinder // ask me on https://t.co/ePnw9NQdI3,252,314,NaN,False,NaN,RT @itspapichurro: a baby using a baby voice o...,123
38417,2020-11-04 14:15:01,95921,Twitter for Android,715525017019088896,P,\xe0\xb8\xaa\xe0\xb8\xb0\xe0\xb8\xaa\xe0\xb8\x...,35,252,On my feet.,False,NaN,RT @Patsh2o: My trying to retweet : https://t....,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47340,2020-10-30 15:49:57,0,Twitter for Android,789476510235291648,NEET's gatcha acc \xc2\xb0\xe2\x80\xa2\xc2\xb0...,neet's vibing account || gacha hell ( genshini...,15,10,NaN,False,NaN,Please zhongli come home i beg of you,37
47344,2020-10-30 15:48:54,0,Twitter for Android,287435785,Otrebmuh,343i is shit.\nDaedragender\xf0\x9f\x93\x96\xf...,37,481,NaN,False,NaN,"@0xCAFEBEEF No you don't, being a NEET sucks, ...",87
47346,2020-10-30 15:48:45,0,Twitter for Android,721559348,treacherous deathcat,eilene \xf0\x9f\x94\xaa evil catgirl \xf0\x9f...,3037,1065,yuria molkot @ leviathan,False,https://t.co/i36bJN2YMJ,@sweaty_neet this is extremely true,35
29,2020-10-31 13:59:01,0,Twitter for Android,456447323,RAUTIAN,"MEME TWITTER, HYPOCRITE",1155,307,"Haryana, India",False,NaN,@sharyk76 @Agamjot2001 @albertonikola_ Par isl...,72
47332,2020-10-30 15:53:51,0,Twitter for Android,1146318087475437568,\xe2\x9d\x84\xef\xb8\x8f CEO of kaiba propagan...,\xef\xbe\x9f\xef\xbd\xa1\xef\xbd\xa5*.\xef\xbe...,523,370,\xe2\x98\x85 28 \xe2\x80\xa2 ca \xe2\x86\x92 a...,False,https://t.co/FnPOaifML8,@AlishizueQ LOL what's a NEET??,31

In [22]:
#QUESTION 6
data[data['source']=='Twitter for Android'].shape[0]

28850

In [26]:
data[data.loc[:,'source']=='Twitter for Android'].retweet_count.sum()

np.int64(9386742)

In [30]:
#QUESTION 7
data.loc[data['user_follower_count']==data['user_follower_count'].max(),['user_name','user_location']]

      user_name user_location
44367      NDTV         India
44355      NDTV         India
44436      NDTV         India
44424      NDTV         India

In [32]:
#QUESTION 8
data['followers_friends_ratio']=data['user_follower_count']/data['user_friends_count']
data

,created_at,retweet_count,source,user_id,user_name,user_description,user_follower_count,user_friends_count,user_location,user_verified,user_url,tweet,length_of_tweet,followers_friends_ratio
32860,2020-11-08 05:30:01,614304,Twitter for iPhone,1024658968394625024,\xe3\x81\xb2\xe3\x81\x88\xe3\x81\xa3,\xe3\x85\xa4\xe3\x82\xa2\xe3\x82\xa4\xe3\x82\x...,62,115,NaN,False,https://t.co/cHZdP4uOdu,"RT @JoeBiden: America, I\xe2\x80\x99m honored ...",140,0.539130
33262,2020-11-07 21:52:54,581097,Twitter for Android,1099388669448867842,Neet\xf0\x9f\x83\x8fPeet,\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\x...,11,141,NaN,False,NaN,"RT @KamalaHarris: We did it, @JoeBiden. https:...",63,0.078014
35111,2020-11-06 14:20:33,381458,Twitter Web App,2578241503,\xe3\x81\xaf\xe3\x81\xaa\xe3\x81\x91\xe3\x81\x...,Kei|20\xe2\x86\x91|intp|eng/fil OK|SparQlew\xe...,624,527,read carrd before follow!!,False,https://t.co/XgmHbPUgAi,RT @GretaThunberg: So ridiculous. Donald must ...,140,1.184061
32585,2020-11-08 07:19:02,204348,Twitter for iPhone,1103362192169189376,Parneet kaur,"\xf0\x9f\x96\x95 all negative , all positive v...",587,193,"New Jersey, USA",False,https://t.co/PXgYJf0gIA,RT @Al_Sanchino: It\xe2\x80\x99s wild Trump su...,140,3.041451
38044,2020-11-04 18:19:13,192350,Twitter for iPhone,54249914,Couture_Neet,snapchat . Neetsobeautiful,547,1182,Miii Casaa,False,NaN,"RT @JoeBiden: Keep the faith, guys. We\xe2\x80...",57,0.462775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47347,2020-10-30 15:48:45,0,WordPress.com,1259781444185944066,Amazon India Offers,Daily Deal Offers. Follow us to get more Savin...,91,236,NaN,False,https://t.co/NxIJNz4jQH,Objective NCERT Gear Up Biology for NEET 2021 ...,69,0.385593
47348,2020-10-30 15:48:43,0,WordPress.com,376197627,Manish Salunke,Web Developer,474,1363,"Pune, India",False,NaN,Objective NCERT Gear Up Biology for NEET 2021 ...,69,0.347762
47349,2020-10-30 15:48:42,0,WordPress.com,1260150415146070016,Swati Sharma \xe2\xad\x90\xe2\xad\x90\xe2\xad\...,\xf0\x9f\x87\xae\xf0\x9f\x87\xb3 INDIAN \xf0\x...,238,485,NaN,False,https://t.co/2HgX7svAne,Objective NCERT Gear Up Biology for NEET 2021 ...,69,0.490722
47351,2020-10-30 15:46:53,0,Twitter Web App,1222115365880074240,Deepanjali,Speak don't shout,92,23,NaN,False,NaN,@saksham65694969 @CACSCMARajat Neet had isolat...,98,4.000000
47332,2020-10-30 15:53:51,0,Twitter for Android,1146318087475437568,\xe2\x9d\x84\xef\xb8\x8f CEO of kaiba propagan...,\xef\xbe\x9f\xef\xbd\xa1\xef\xbd\xa5*.\xef\xbe...,523,370,\xe2\x98\x85 28 \xe2\x80\xa2 ca \xe2\x86\x92 a...,False,https://t.co/FnPOaifML8,@AlishizueQ LOL what's a NEET??,31,1.413514

In [33]:
#QUESTION 9
data.isnull().sum()

created_at                     0
retweet_count                  0
source                        19
user_id                        0
user_name                      1
user_description           10871
user_follower_count            0
user_friends_count             0
user_location              21134
user_verified                  0
user_url                   38101
tweet                          0
length_of_tweet                0
followers_friends_ratio      147
dtype: int64

In [35]:
#QUESTION 10
data.user_description.fillna('Twitter User ', inplace=True)
data

,created_at,retweet_count,source,user_id,user_name,user_description,user_follower_count,user_friends_count,user_location,user_verified,user_url,tweet,length_of_tweet,followers_friends_ratio
32860,2020-11-08 05:30:01,614304,Twitter for iPhone,1024658968394625024,\xe3\x81\xb2\xe3\x81\x88\xe3\x81\xa3,\xe3\x85\xa4\xe3\x82\xa2\xe3\x82\xa4\xe3\x82\x...,62,115,NaN,False,https://t.co/cHZdP4uOdu,"RT @JoeBiden: America, I\xe2\x80\x99m honored ...",140,0.539130
33262,2020-11-07 21:52:54,581097,Twitter for Android,1099388669448867842,Neet\xf0\x9f\x83\x8fPeet,\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\x...,11,141,NaN,False,NaN,"RT @KamalaHarris: We did it, @JoeBiden. https:...",63,0.078014
35111,2020-11-06 14:20:33,381458,Twitter Web App,2578241503,\xe3\x81\xaf\xe3\x81\xaa\xe3\x81\x91\xe3\x81\x...,Kei|20\xe2\x86\x91|intp|eng/fil OK|SparQlew\xe...,624,527,read carrd before follow!!,False,https://t.co/XgmHbPUgAi,RT @GretaThunberg: So ridiculous. Donald must ...,140,1.184061
32585,2020-11-08 07:19:02,204348,Twitter for iPhone,1103362192169189376,Parneet kaur,"\xf0\x9f\x96\x95 all negative , all positive v...",587,193,"New Jersey, USA",False,https://t.co/PXgYJf0gIA,RT @Al_Sanchino: It\xe2\x80\x99s wild Trump su...,140,3.041451
38044,2020-11-04 18:19:13,192350,Twitter for iPhone,54249914,Couture_Neet,snapchat . Neetsobeautiful,547,1182,Miii Casaa,False,NaN,"RT @JoeBiden: Keep the faith, guys. We\xe2\x80...",57,0.462775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47347,2020-10-30 15:48:45,0,WordPress.com,1259781444185944066,Amazon India Offers,Daily Deal Offers. Follow us to get more Savin...,91,236,NaN,False,https://t.co/NxIJNz4jQH,Objective NCERT Gear Up Biology for NEET 2021 ...,69,0.385593
47348,2020-10-30 15:48:43,0,WordPress.com,376197627,Manish Salunke,Web Developer,474,1363,"Pune, India",False,NaN,Objective NCERT Gear Up Biology for NEET 2021 ...,69,0.347762
47349,2020-10-30 15:48:42,0,WordPress.com,1260150415146070016,Swati Sharma \xe2\xad\x90\xe2\xad\x90\xe2\xad\...,\xf0\x9f\x87\xae\xf0\x9f\x87\xb3 INDIAN \xf0\x...,238,485,NaN,False,https://t.co/2HgX7svAne,Objective NCERT Gear Up Biology for NEET 2021 ...,69,0.490722
47351,2020-10-30 15:46:53,0,Twitter Web App,1222115365880074240,Deepanjali,Speak don't shout,92,23,NaN,False,NaN,@saksham65694969 @CACSCMARajat Neet had isolat...,98,4.000000
47332,2020-10-30 15:53:51,0,Twitter for Android,1146318087475437568,\xe2\x9d\x84\xef\xb8\x8f CEO of kaiba propagan...,\xef\xbe\x9f\xef\xbd\xa1\xef\xbd\xa5*.\xef\xbe...,523,370,\xe2\x98\x85 28 \xe2\x80\xa2 ca \xe2\x86\x92 a...,False,https://t.co/FnPOaifML8,@AlishizueQ LOL what's a NEET??,31,1.413514

In [36]:
#QUESTION 11
data.dropna(axis=1,inplace=True)
data

,created_at,retweet_count,user_id,user_description,user_follower_count,user_friends_count,user_verified,tweet,length_of_tweet
32860,2020-11-08 05:30:01,614304,1024658968394625024,\xe3\x85\xa4\xe3\x82\xa2\xe3\x82\xa4\xe3\x82\x...,62,115,False,"RT @JoeBiden: America, I\xe2\x80\x99m honored ...",140
33262,2020-11-07 21:52:54,581097,1099388669448867842,\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\x...,11,141,False,"RT @KamalaHarris: We did it, @JoeBiden. https:...",63
35111,2020-11-06 14:20:33,381458,2578241503,Kei|20\xe2\x86\x91|intp|eng/fil OK|SparQlew\xe...,624,527,False,RT @GretaThunberg: So ridiculous. Donald must ...,140
32585,2020-11-08 07:19:02,204348,1103362192169189376,"\xf0\x9f\x96\x95 all negative , all positive v...",587,193,False,RT @Al_Sanchino: It\xe2\x80\x99s wild Trump su...,140
38044,2020-11-04 18:19:13,192350,54249914,snapchat . Neetsobeautiful,547,1182,False,"RT @JoeBiden: Keep the faith, guys. We\xe2\x80...",57
...,...,...,...,...,...,...,...,...,...
47347,2020-10-30 15:48:45,0,1259781444185944066,Daily Deal Offers. Follow us to get more Savin...,91,236,False,Objective NCERT Gear Up Biology for NEET 2021 ...,69
47348,2020-10-30 15:48:43,0,376197627,Web Developer,474,1363,False,Objective NCERT Gear Up Biology for NEET 2021 ...,69
47349,2020-10-30 15:48:42,0,1260150415146070016,\xf0\x9f\x87\xae\xf0\x9f\x87\xb3 INDIAN \xf0\x...,238,485,False,Objective NCERT Gear Up Biology for NEET 2021 ...,69
47351,2020-10-30 15:46:53,0,1222115365880074240,Speak don't shout,92,23,False,@saksham65694969 @CACSCMARajat Neet had isolat...,98
47332,2020-10-30 15:53:51,0,1146318087475437568,\xef\xbe\x9f\xef\xbd\xa1\xef\xbd\xa5*.\xef\xbe...,523,370,False,@AlishizueQ LOL what's a NEET??,31

In [37]:
#QUESTION 12
data.insert(2,'is_allow' ,True)
data

,created_at,retweet_count,is_allow,user_id,user_description,user_follower_count,user_friends_count,user_verified,tweet,length_of_tweet
32860,2020-11-08 05:30:01,614304,True,1024658968394625024,\xe3\x85\xa4\xe3\x82\xa2\xe3\x82\xa4\xe3\x82\x...,62,115,False,"RT @JoeBiden: America, I\xe2\x80\x99m honored ...",140
33262,2020-11-07 21:52:54,581097,True,1099388669448867842,\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\x...,11,141,False,"RT @KamalaHarris: We did it, @JoeBiden. https:...",63
35111,2020-11-06 14:20:33,381458,True,2578241503,Kei|20\xe2\x86\x91|intp|eng/fil OK|SparQlew\xe...,624,527,False,RT @GretaThunberg: So ridiculous. Donald must ...,140
32585,2020-11-08 07:19:02,204348,True,1103362192169189376,"\xf0\x9f\x96\x95 all negative , all positive v...",587,193,False,RT @Al_Sanchino: It\xe2\x80\x99s wild Trump su...,140
38044,2020-11-04 18:19:13,192350,True,54249914,snapchat . Neetsobeautiful,547,1182,False,"RT @JoeBiden: Keep the faith, guys. We\xe2\x80...",57
...,...,...,...,...,...,...,...,...,...,...
47347,2020-10-30 15:48:45,0,True,1259781444185944066,Daily Deal Offers. Follow us to get more Savin...,91,236,False,Objective NCERT Gear Up Biology for NEET 2021 ...,69
47348,2020-10-30 15:48:43,0,True,376197627,Web Developer,474,1363,False,Objective NCERT Gear Up Biology for NEET 2021 ...,69
47349,2020-10-30 15:48:42,0,True,1260150415146070016,\xf0\x9f\x87\xae\xf0\x9f\x87\xb3 INDIAN \xf0\x...,238,485,False,Objective NCERT Gear Up Biology for NEET 2021 ...,69
47351,2020-10-30 15:46:53,0,True,1222115365880074240,Speak don't shout,92,23,False,@saksham65694969 @CACSCMARajat Neet had isolat...,98
47332,2020-10-30 15:53:51,0,True,1146318087475437568,\xef\xbe\x9f\xef\xbd\xa1\xef\xbd\xa5*.\xef\xbe...,523,370,False,@AlishizueQ LOL what's a NEET??,31

In [39]:
#QUESTION 13
data.drop('tweet',axis=1,inplace=True)
data

,created_at,retweet_count,is_allow,user_id,user_description,user_follower_count,user_friends_count,user_verified,length_of_tweet
32860,2020-11-08 05:30:01,614304,True,1024658968394625024,\xe3\x85\xa4\xe3\x82\xa2\xe3\x82\xa4\xe3\x82\x...,62,115,False,140
33262,2020-11-07 21:52:54,581097,True,1099388669448867842,\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\xa0\xe2\x96\x...,11,141,False,63
35111,2020-11-06 14:20:33,381458,True,2578241503,Kei|20\xe2\x86\x91|intp|eng/fil OK|SparQlew\xe...,624,527,False,140
32585,2020-11-08 07:19:02,204348,True,1103362192169189376,"\xf0\x9f\x96\x95 all negative , all positive v...",587,193,False,140
38044,2020-11-04 18:19:13,192350,True,54249914,snapchat . Neetsobeautiful,547,1182,False,57
...,...,...,...,...,...,...,...,...,...
47347,2020-10-30 15:48:45,0,True,1259781444185944066,Daily Deal Offers. Follow us to get more Savin...,91,236,False,69
47348,2020-10-30 15:48:43,0,True,376197627,Web Developer,474,1363,False,69
47349,2020-10-30 15:48:42,0,True,1260150415146070016,\xf0\x9f\x87\xae\xf0\x9f\x87\xb3 INDIAN \xf0\x...,238,485,False,69
47351,2020-10-30 15:46:53,0,True,1222115365880074240,Speak don't shout,92,23,False,98
47332,2020-10-30 15:53:51,0,True,1146318087475437568,\xef\xbe\x9f\xef\xbd\xa1\xef\xbd\xa5*.\xef\xbe...,523,370,False,31

In [40]:
#QUESTION 14
df['created_at'] = df['created_at'].astype(str)
df['month'] = df['created_at'].str.split('-').str[1]
df['year'] = df['created_at'].str.split('-').str[0]
print("Month and Year: ")
df[['created_at', 'month', 'year']].head()

Month and Year:

C:\Users\lenovo\AppData\Local\Temp\ipykernel_10684\3992556262.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['created_at'] = df['created_at'].astype(str)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_10684\3992556262.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['created_at'].str.split('-').str[1]
C:\Users\lenovo\AppData\Local\Temp\ipykernel_10684\3992556262.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['created_at'].str.split('-').str[0]

                created_at month  year
32860  2020-11-08 05:30:01    11  2020
33262  2020-11-07 21:52:54    11  2020
35111  2020-11-06 14:20:33    11  2020
32585  2020-11-08 07:19:02    11  2020
38044  2020-11-04 18:19:13    11  2020